@model EventApplication.Models.EventType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eventType)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.eventType }) |
    @Html.ActionLink("Back to List", "Index")
</p>
