@model IEnumerable<MvcMusicStore.Models.Genre>
@{
    ViewBag.Title = "Browse";
}
<h5>Content Body</h5>
<br />
<p>
    Browse By Genre
</p>
<ul>
    @foreach (var genre in Model)
    {
        <!---->
        <li>@Html.ActionLink(genre.Name, "Index", new { genre = genre.GenreId })</li>
    }
</ul>