@model MvcMusicStore.Models.Album
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<ul>

    <!---->
    <li></li>
   
    <l1>Artist.Name</l1>
    <l1>Album.Price</l1>


</ul>
<p class="button">
    @Html.ActionLink("Add to Cart", "ShoppingCart", "AddtoCart")
</p>

