@model IEnumerable<MvcMusicStore.Models.Album>

@{
    ViewBag.Title = "Index";
}
<h5>Content Body</h5>
<br />
<p>
    Here are the list of albums
</p>
<ul>
    @foreach (var genre in Model)
    {
        <!---->
        <li>@Html.ActionLink(genre.Name, "Details", new { genre = genre.GenreId })</li>
    }
</ul>
