@model IEnumerable<EnrollmentApplication.Models.Course>

<div id="searchresults2">
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Title </li>
        }
    </ul>
</div>

