
@{
    ViewBag.Title = "FindEvent";
}

<h2>FindEvent</h2>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Find an event near you.</p>

</div>

<div id="lastminutedeals">
    @Ajax.ActionLink("Click here for ",
    "LastMinuteDeals",
    null,
    new AjaxOptions
    {
        UpdateTargetId = "lastminutedeals",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Get"
    },
    new { @class = "btn btn-primary" })
</div>


<div class="panel panel-default">
    <div class="panel-heading">Search Events: </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("EventSearch", "Home", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "SearchFailed",
            UpdateTargetId = "searchresults"

        }))
        {
            <input type="text" name="q" />
            <input type="submit" value="search" />

        }
        <div id="searchresults"></div>

    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Search Location: </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("EventSearchResults", "Home", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "SearchFailed",
            UpdateTargetId = "searchresults2"

        }))
        {
            <input type="text" name="q" />
            <input type="submit" value="search" />

        }
        <div id="searchresults2"></div>

    </div>
</div>