@model EnrollmentApplication.Models.Student

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> Student Of The Month: @Model.firstName @Model.lastName </h3>
    </div>
    <div class="panel-body">
        <div id="student-details">
            <p>
                <em>Congratulations:</em>
                Keep up the good work!

            </p>

        </div>
    </div>
</div>

